<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>To do</title>
</head>
<body>

    <h3 align="right">Welcome, {{user.username}}</h3>

 <!-- Buton pentru Signup -->
    <form action="{% url 'login' %}" method="get">
        <button type="submit">login</button>
    </form>

    <!-- Buton pentru Login -->
    <form action="{% url 'signup' %}" method="get">
        <button type="submit">signup</button>
    </form>

    <!-- Buton pentru Logout -->
    <form action="{% url 'logout' %}" method="get">
        <button type="submit">Logout</button>
    </form>

<div class="center-column">
    <form method="POST" action="/">
        {% csrf_token %}
        {{form.title}}
        <input type="submit" name="Create task">
    </form>

    {% for task in tasks %}
        <div>
            <a href="{% url 'update_task' task.id %}">update</a>
            <a href="{% url 'delete_task' task.id %}">delete</a>
                {% if task.complete == True %}
                <strike>{{task}}</strike>
                {% else %}
                <span>{{task}}</span>
                {% endif %}
        </div>
    {% endfor %}
</div>
</body>
</html>